@tailwind base;
@tailwind components;
@tailwind utilities;
/* container */
.container{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%; 
    height: 100%;
}

::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  .Icon{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
    transition:.2s ease;
  }
  .Icon-active{
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(1.3);
    opacity: 1;
    color: green;
    transition: .2s ease;
  }

  .con-Icon, .Icon-active{
   position: relative;
  }
  .con-Icon:hover .Icon{ 
    opacity: 1;
  }

  .con-Icon:not(:hover) .Icon-active{ 
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
  }

  .con-Icon .Icon,.Icon-active{
   position: absolute;
   top:0rem;
   right: 0rem;
   z-index: 10;
  }

  .con-Icon {
    background-color: #262626;
    color: #e5e5e5; 
    padding:0 1rem ;
    border-radius: 5px;
  }
